<ion-header>

  <ion-navbar>
    <ion-title>camara</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-item *ngIf="myimage">
  <img [src]="myimage">
  </ion-item>
  <button ion-button (click)="openCamera()" block>
    <ion-icon name = "camera"></ion-icon>
    Abrir Camara</button>

    <ion-card *ngFor="let picture of datapictures | async"> 
    <img [src]="picture.url">
    <div class="card-title">{{picture.title}}</div>
    <div class="card-subtitle">{{picture.subtitle}}</div>
  </ion-card>
      

</ion-content>
